import React from 'react';

// Assets
import './{{dashCase name}}.styles.scss';

export interface I{{pascalCase name}}Props {

}

export const {{pascalCase name}}Component = (props: I{{pascalCase name}}Props) => {
    return (
        <div>{{pascalCase name}} component</div>
    );
};