import React from 'react';

import { IAppState } from '@rdx/root.reducer';

import { connect } from 'react-redux';

export interface I{{pascalCase name}}Props {
 
}

const {{pascalCase name}} = (props: I{{pascalCase name}}Props) => {
  const { } = props;

  return (
        <div>
            Full Redux Container
        </div>
  );
};

const mapDispatchToProps = {

};

export const {{pascalCase name}}Container = connect(null, mapDispatchToProps)({{pascalCase name}});
